.json-generator {
  display: flex;
  flex-direction:row
}

.json-editor {
  font-family: monospace;
  font-size: 14px;
  width: 40%;
  border: 1px solid #ccc;
  line-height: 1.5;
  border-radius: 5px;
  margin: 1rem;
}

.json-viewer {
  font-family: monospace;
  font-size: 14px;
  width: 40%;
  border: 1px solid #ccc;
  line-height: 1.5;
  border-radius: 5px;
  margin: 1rem;
}